GCL/Test/Web References/com.chinahr.my1/JoinEhrDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Join">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cv_auto_id" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="job_id" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="org_id" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="mem_id" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="op_type" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cv_part" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="cvVersion" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JoinResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="JoinSoapIn">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="JoinSoapOut">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="JoinHttpPostIn">
    <wsdl:part name="cv_auto_id" type="s:string" />
    <wsdl:part name="job_id" type="s:string" />
    <wsdl:part name="org_id" type="s:string" />
    <wsdl:part name="mem_id" type="s:string" />
    <wsdl:part name="op_type" type="s:string" />
    <wsdl:part name="cv_part" type="s:string" />
    <wsdl:part name="cvVersion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JoinHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="JoinEhrDBSoap">
    <wsdl:operation name="Join">
      <wsdl:input message="tns:JoinSoapIn" />
      <wsdl:output message="tns:JoinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="JoinEhrDBHttpPost">
    <wsdl:operation name="Join">
      <wsdl:input message="tns:JoinHttpPostIn" />
      <wsdl:output message="tns:JoinHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JoinEhrDBSoap" type="tns:JoinEhrDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap:operation soapAction="http://tempuri.org/Join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JoinEhrDBSoap12" type="tns:JoinEhrDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JoinEhrDBHttpPost" type="tns:JoinEhrDBHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Join">
      <http:operation location="/Join" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JoinEhrDB">
    <wsdl:port name="JoinEhrDBSoap" binding="tns:JoinEhrDBSoap">
      <soap:address location="http://my.chinahr.com/chrws/JoinEhrDB.asmx" />
    </wsdl:port>
    <wsdl:port name="JoinEhrDBSoap12" binding="tns:JoinEhrDBSoap12">
      <soap12:address location="http://my.chinahr.com/chrws/JoinEhrDB.asmx" />
    </wsdl:port>
    <wsdl:port name="JoinEhrDBHttpPost" binding="tns:JoinEhrDBHttpPost">
      <http:address location="http://my.chinahr.com/chrws/JoinEhrDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>